# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Unit test reports
TEST*.xml

# Applications
*.app
*.exe
*.war
*.pt

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# image test files
*.jpg

# ignore temp.txt
temp.txt

# cpython files
__pycache__/
*.pyc